* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
    .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }
    
    .container {
        max-width: 1400px;
        margin: 20px auto;
    }
    
    header {
        height: 150px;
    }

    ul {
        list-style: none;
    }

    li {
        display: inline-block;
        font-size: 20px;
        font-style: "roboto";
        color: lightgrey;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .title {
         color: black;
         font-size: 25px;
         font-style: 'roboto';
    }

    .title2 {
        color: black;
        font-size: 20px;
        font-style: 'roboto';
    }
    
    .foto-main {
        height: 600px;
        background-image: url(../img/banner.jpg);
        background-size: cover;
        background-position: center;
        padding: 450px 350px 100px 60px;
        border-radius: 10px;
    }
    
    section {
        height: 100px;
        padding-top: 10px;
    }
    
    .fl {
        float: left;
    }
    
    .product {
        width: 25%;
        padding: 15px 15px 15px 0;
    }
    
    .details {
        width: 50%;
        padding: 15px 15px 15px 15px;
        
    }
    
    .sidebar {
        width: 25%;
        padding: 15px 0 15px 15px;
    }
    
    .content1 {
        background-image: url(../img/img-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        border: 1px solid black;
        width: 100%; 
        padding: 300px 10px 20px 10px;
    }

    .content2 {
        background-image: url(../img/banner-2.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        border: 1px solid black;
        width: 100%; 
        padding: 300px 10px 20px 10px;
        height: 100%;
    }
    
    .content3 {
        background-image: url(../img/img-4.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        border: 1px solid black;
        width: 100%; 
        padding: 300px 10px 20px 10px;
    }
    
    /* tolgo bordo quando sapro opacizzare la img */
    
     footer {
        font-size: 25px;
        height: 80px;
        text-align: center;
    }

    .heart {
        color: red;
    }
    	
